<section class="cv-section animate-fade-in">
  <div class="cv-content-width">
    <h2 class="cv-section-title">Sobre Mí</h2>
    <p class="cv-text-body">
      Me llamo Pau Morillas y soy un desarrollador Full Stack pero
      <b>me especializo en el desarrollo backend</b>. Mi formación en el
      <b>CFGS de Desarrollo de Aplicaciones Web</b> en modalidad semipresencial me exigió ser
      independiente y manejar mi propio aprendizaje desde el primer día, una habilidad que ha sido
      fundamental en mi desarrollo profesional.<i>
        No solo me enfoco en escribir código que funcione, sino también en que sea legible y
        mantenible</i
      >. Por lo tanto, para prevenir deuda técnica, opero bajo los principios de Domain-Driven
      Design y arquitectura hexagonal, separando la lógica de negocio de la infraestructura.
      <br />
      <br />
      He trabajado con CQRS en la práctica, diseñando aplicaciones escalables empleando Value
      Objects y Repositorios para garantizar que el dominio permanezca íntegro. Tuve la oportunidad
      de implementar esto como si estuviera en contextos productivos por mi
      <i><a href="#experience-section" class="underline">experiencia en Yurest Solutions</a></i
      >.
      <br />
      <br />
      Me muevo fácilmente entre <b>Java, Angular y PHP</b>; no obstante, lo que para mí siempre
      ocupa el primer lugar es la <b>calidad del software</b>. Busco ser parte de un equipo que
      posea una cultura genuina de Clean Code y analice el código.
      <b>Mi objetivo es aportar soluciones técnicas sólidas</b>
      en una empresa que aprecie el diseño de la arquitectura y donde pueda seguir aprendiendo al
      lado de especialistas con un criterio técnico alto.
    </p>
  </div>
</section>
