<header class="header-container">
  <div class="header-content">
    <section class="brand-group">
      <img src="assets/document-svgrepo-com.svg" alt="Portfolio Logo" class="brand-icon" />
      <h1 class="brand-title">Mi Portfolio</h1>
    </section>

    <nav class="nav-container">
      <ul class="nav-list">
        <li><a href="#education-section" class="nav-link">Formación Académica</a></li>
        <li><a href="#experience-section" class="nav-link">Experiencia</a></li>
        <li><a href="#skills-section" class="nav-link">Habilidades</a></li>
      </ul>
    </nav>

    <section class="action-group" (click)="downloadAsPdf()">
      <div class="download-wrapper">
        <img src="assets/download-svgrepo-com.svg" alt="" class="icon-sm" />
        <button class="btn-text">Descargar PDF</button>
      </div>
    </section>
  </div>
</header>
