<!-- Navegación y Logo -->
<style>
  #header {
    color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  #header h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  #header img {
    width: 25px;
  }
</style>
<header id="header">
  <div>
    <section>
      <div>
        <img src="/assets/document-svgrepo-com.svg" alt="Documento" class="w-6 h-6" />
      </div>
      <div>
        <h2>Mi Portfolio</h2>
      </div>
    </section>

    <section>
      <nav>
        <ul>
          <li><a href="#">Formación Académica</a></li>
          <li><a href="#">Experiencia</a></li>
          <li><a href="#">Habilidades Técnicas</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </section>

    <section>
      <div>
        <img src="/assets/download-svgrepo-com.svg" alt="Download">
        <button>Descargar PDF</button>
      </div>
    </section>
  </div>
</header>
