<section class="cv-section animate-fade-in">
  <div class="cv-content-width flex flex-col items-center">
    
    <div class="relative mb-6">
      <img
        src="assets/CVPFP.jpeg"
        alt="Foto de Pau Morillas"
        class="cv-profile-avatar"
      />
    </div>

    <h1 class="cv-profile-name">
      Pau Morillas Huerta
    </h1>

    <p class="cv-profile-role">
      Junior Full Stack Developer
    </p>

    <div class="cv-profile-contact-box">
      <a href="mailto:morillashuertapau@gmail.com" class="cv-link">
        morillashuertapau@gmail.com
      </a>

      <span class="hidden sm:inline text-gray-300">|</span>

      <a href="https://www.linkedin.com/in/pau-morillas/" target="_blank" class="cv-link">
        LinkedIn
      </a>

      <span class="hidden sm:inline text-gray-300">|</span>

      <a href="https://github.com/PauMorillas" target="_blank" class="cv-link">
        GitHub
      </a>

      <span class="hidden sm:inline text-gray-300">|</span>

      <p class="hover:text-black transition-colors">Valencia, ES</p>
    </div>

  </div>
</section>