<section class="cv-content-width" id="skills-section">
  <h2 class="cv-section-title">Habilidades Técnicas</h2>

  <div class="cv-skill-container">
    <div class="w-full">
      <div class="cv-skill-header">
        <h3 class="cv-skill-label">Arquitectura FrontEnd</h3>
        <span class="font-bold text-gray-900 text-sm">95%</span>
      </div>
      <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
    </div>

    <div class="w-full">
      <div class="cv-skill-header">
        <h3 class="cv-skill-label">Arquitectura Backend</h3>
        <span class="font-bold text-gray-900 text-sm">95%</span>
      </div>
      <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
    </div>

    <div class="w-full">
      <div class="cv-skill-header">
        <h3 class="cv-skill-label">Trabajo en Equipo</h3>
        <span class="font-bold text-gray-900 text-sm">95%</span>
      </div>
      <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
    </div>

    <div class="w-full">
      <div class="cv-skill-header">
        <h3 class="cv-skill-label">Bases de Datos Relacionales</h3>
        <span class="font-bold text-gray-900 text-sm">90%</span>
      </div>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>
  </div>
</section>
