@tailwind base;

.company-name {
    @apply text-green-700 font-medium text-sm uppercase tracking-wider mb-2;
}

.task-list {
    @apply space-y-3 mt-4;
}

.task-list li {
   @apply text-gray-600 text-sm leading-relaxed list-disc list-outside ml-4;
}